
@{
    ViewBag.Title = "Login";
}

<div class="container m-auto">
@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "bootstrap-admin-login-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="col-sm-auto col-md-auto col-md-offset-1">
            <h2 class="text-left login-title">Ingresa tus datos</h2>
            <div class="account-wall">
                    <input type="text" name="Email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" name="Password" class="form-control" placeholder="Contraseña" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Ingresar
                    </button>
                    <!--<label class="checkbox">
                        <input type="checkbox" value="remember-me" name="Recordarme">
                        Recordarme
                    </label>-->
            </div>
            @Html.ActionLink("Crearse una cuenta", "Create", "Users") | 
            <a href="#" class="pull-right need-help">¿Necesita ayuda?</a><span class="clearfix"></span>
        </div>
}
</div>