<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Modelo" connectionString="Data Source=localhost;Initial Catalog=dba43a70469a324b91b493a7430186b6b8;Persist Security Info=True;User ID=usrsg;Password=passsg"  providerName="System.Data.SqlClient" />-->
    <add name="Modelo" connectionString="Data Source=a43a7046-9a32-4b91-b493-a7430186b6b8.sqlserver.sequelizer.com;Initial Catalog=dba43a70469a324b91b493a7430186b6b8;Persist Security Info=True;User ID=hdfofcjwuistlndk;Password=tVQ5zaBPqjEb2Fp5R7n4ehBqe8jroXvo4Hsr77SrPFscGv8pdVcCsovmszYzYjAz"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>