<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="Modelo" connectionString="Data Source=a43a7046-9a32-4b91-b493-a7430186b6b8.sqlserver.sequelizer.com;Initial Catalog=dba43a70469a324b91b493a7430186b6b8;Persist Security Info=True;User ID=hdfofcjwuistlndk;Password=tVQ5zaBPqjEb2Fp5R7n4ehBqe8jroXvo4Hsr77SrPFscGv8pdVcCsovmszYzYjAz" providerName="System.Data.SqlClient" />-->
    <add name="Modelo" connectionString="Data Source=localhost;Initial Catalog=dba43a70469a324b91b493a7430186b6b8;Persist Security Info=True;User ID=usrsg;Password=passsg" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>