@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="card">
    <div class="card-title center-align">Error</div>
    <div class="card-content center-align">
        Ocurrió un error, si considera que es incorrecto, contáctese con el Administrador del Sistema.
    </div>
</div>