
@{
    ViewBag.Title = "Permisos necesarios";
}

<br />
<br />

<div class="card">
    <div class="card-title red-text center">Permisos denegados</div>
    <div class="card-content center-align">
        Usted no cuenta con los permisos necesarios para realizar dicha acción.
    </div>
</div>