<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=a43a7046-9a32-4b91-b493-a7430186b6b8.sqlserver.sequelizer.com;initial catalog=dba43a70469a324b91b493a7430186b6b8;persist security info=True;user id=hdfofcjwuistlndk;password=tVQ5zaBPqjEb2Fp5R7n4ehBqe8jroXvo4Hsr77SrPFscGv8pdVcCsovmszYzYjAz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>